body {
	background-color: #1F2937;
	color: #fff;
}

#container {
	border-radius: 10px;
	padding: 20px;
	margin: 0 auto;
	width: 50%;
}

h1 {
	font-family: 'Karla', sans-serif;
	margin-bottom: 2%;
}

span {
	color: #4ADF86;
}

#description {
	color: #D5D4D8;
	font-family: 'Inter', sans-serif;
	margin-top: 0%;
	padding-top: 0%;
}

#btn {
	background-color: #10B981;
	border: none;
	color: #fff;
	padding: 9px 17px 9px 15px;
	font-family: 'Inter', sans-serif;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#btn:hover {
	background-color: #fff;
	color: #10B981;
}

hr {
	border: 1px solid #2F3E53;
	margin-bottom: 20px;
}

#password {
	display: flex;
	justify-content: space-around;
}

.password {
	display: block;
	background-color: #2F3E53;
	border: none;
	color: #55F991;
	padding: 9px 17px 9px 15px;
	font-family: 'Inter', sans-serif;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 20px;
	width: 30%;
	text-align: center;
}

